[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
pyexcel = "*"
pyexcel-xls = "*"
pyexcel-xlsx = "*"
xlrd = "*"
xlwt = "*"
spacy = "*"
nltk = "*"
sklearn = "*"
matplotlib = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.8"
